* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

div.logospace {
    background-color: white;
    color: #29b1dd;
}

#filter_cards{
    margin-left: 5px;
}

div.filterspace {
    text-align: center;
    padding: 22px;
    color: white;
    background-color: #29b1dd;
}

.bold {
    font-weight: bold;
}

div.cards_container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 2vw 0 auto;
}
/* 
.cards_container::after {
    flex: 0;
    content: "";
  } */

div.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.8vw;
    width: calc(75% / 5);
    height: 7vw;
    margin: 0 2.5% 5vw;
    filter: drop-shadow(1px 1px 1px grey);
}

div.card:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.25s;
}

div.card > i {
    font-size: 3vw;
    margin-bottom: 0.5vw;
}

div.card > span {
    font-size: 1vw;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}