* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

div.logospace {
    background-color: white;
    color: #29b1dd;
}

div.filterspace {
    text-align: center;
    padding: 12px;
    color: white;
    background-color: #29b1dd;
}

.bold {
    font-weight: bold;
}

div.cards_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2vh 3vw auto;
}

div.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2vh;
    width: calc(95vw / 6);
    height: 7vw;
    margin: 2vw auto 5vw;
    filter: drop-shadow(1px 1px 1px grey);
}

div.card > i {
    font-size: 3vw;
    margin-bottom: 0.5vw;
}

div.card > span {
    font-size: 1vw;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}